/* =========================
   WORDLE GRID
========================= */

#grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  gap: 6px;
}

/* =========================
   CELL BASE
========================= */

.cell {
  width: 45px;
  height: 45px;

  border-radius: 10px;

  background: rgba(255, 255, 255, 0.05);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: 18px;

  border: 1px solid rgba(255, 255, 255, 0.06);

  transition: all 0.2s ease;
}

/* =========================
   STATES
========================= */

/* GREEN = correct */
.cell.green {
  background: rgba(46, 204, 113, 0.25);
  border: 1px solid rgba(46, 204, 113, 0.6);
  color: #2ecc71;

  box-shadow: 0 0 12px rgba(46, 204, 113, 0.15);
}

/* ORANGE = correct letter wrong place */
.cell.orange {
  background: rgba(243, 156, 18, 0.22);
  border: 1px solid rgba(243, 156, 18, 0.6);
  color: #f39c12;

  box-shadow: 0 0 12px rgba(243, 156, 18, 0.12);
}

/* GRAY = wrong */
.cell.gray {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.06);
  color: rgba(255, 255, 255, 0.35);

  opacity: 0.7;
}

/* PURPLE = correct, aber es gibt noch weitere buchstaben von 
dem die in dem wort vorkommen die entweder nicht gesetzt wurden, 
falsch gesetzt wurden, oder nicht an der richtigen stelle*/
.cell.purple {
  background: rgba(155, 89, 182, 0.25);
  border: 1px solid rgba(155, 89, 182, 0.6);
  color: #9b59b6;
}

/* =========================
   KEYBOARD
========================= */

#keyboard {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.key-row {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.key {
  width: 34px;
  height: 44px;

  border-radius: 8px;

  background: rgba(255, 255, 255, 0.08);
  color: white;

  font-weight: 900;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.06);

  transition: all 0.2s ease;
}

/* KEY STATES */
.key.green {
  background: rgba(46, 204, 113, 0.25);
  border: 1px solid rgba(46, 204, 113, 0.6);
  color: #2ecc71;
}

.key.orange {
  background: rgba(243, 156, 18, 0.22);
  border: 1px solid rgba(243, 156, 18, 0.6);
  color: #f39c12;
}

.key.gray {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.3);
}

/* =========================
   BUTTON
========================= */

#submit {
  margin-top: 10px;
  width: 100%;
  padding: 14px;

  border-radius: 14px;

  background: linear-gradient(135deg, #7b2cff, #9b5cff);
  color: white;

  font-weight: 900;

  border: none;

  box-shadow: 0 8px 18px rgba(123, 44, 255, 0.25);

  transition: all 0.2s ease;
}

#submit:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 24px rgba(123, 44, 255, 0.35);
}